---
layout: default
title: Home
---
<div class="page">
  
  <header>
    <h1 class="landing-title">Hello, It's Gavin!</h1>
  </header>
  
  <div class="text-center">
    <p>
      <span style="font-size: 3em; font-weight: bold;">G</span>
    </p>


    <p>
      这里记录学习心得，分享一些感悟.
    </p>

    <p>
      如果没有恐惧，你会怎么做？  - Sheryl Sandberg
    </p>
  </div>
</div>

<h2>The newest post:</h2>
<!-- 最新文章 -->
{% assign latest_post = site.posts.first %}
{% if latest_post %}
  <article class="post-preview">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ latest_post.url }}">
        {{ latest_post.title }}
      </a>
    </h2>

    <p class="post-meta">{{ latest_post.date | date: "%d %b %Y" }}</p>

    <div class="post-excerpt">
      {{ latest_post.excerpt | strip_html | truncatewords: 50 }}
    </div>

    <a href="{{ site.baseurl }}{{ latest_post.url }}" class="read-more">Read more</a>
  </article>
{% else %}
  <p>暂无文章</p>
{% endif %}

<h2>最近文章</h2>
{% assign recent_posts = site.posts | slice: 0, 5 %}
<ul class="recent-posts">
  {% if recent_posts.size > 0 %}
    {% for post in recent_posts %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <span class="post-meta">{{ post.date | date: "%d %b %Y" }}</span>
      </li>
    {% endfor %}
  {% else %}
    <li>暂无文章</li>
  {% endif %}
</ul>

<div class="text-center">
  <a href="{{ site.baseurl }}/blog/" class="read-more">查看全部</a>
</div>

<h2>浏览标签</h2>
<div class="tag-category-cloud">
  <div class="tag-list">
    <ul class="tag-pills">
      {% if site.tags and site.tags != empty %}
        {% for tag in site.tags %}
          <li>
            <a href="{{ site.baseurl }}/tags/#{{ tag[0] | slugify: 'raw' }}">{{ tag[0] }} ({{ tag[1].size }})</a>
          </li>
        {% endfor %}
      {% else %}
        <li>暂无标签</li>
      {% endif %}
    </ul>
  </div>
</div>
